.MovieCard{
    min-height: 531.812px;
}

.MovieCard-text{
    height: 200px;
    overflow: scroll;
}

.card-img-top{
    height: 275px;
    object-fit: contain;
}

.card-title{
    min-height: 72px;
}