.MovieCard {
  min-height: 531.812px;
}

.MovieCard-text {
  height: 200px;
  overflow: scroll;
}

.card-img-top {
  height: 275px;
  object-fit: contain;
}

.card-title {
  min-height: 72px;
}

.btn {
  padding: 0;
}

.icon-click-animation {
  animation: iconClickAnimation 0.3s linear;
}

@keyframes iconClickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
